header {
    border-width:1;
    border-color: rgb(128,0,128);
    border-style: solid;
    }

nav {
    border-width:1;
    border-color: rgb(255,0,255);
    border-style: solid;

}

main{
    border-width:1;
    border-color: rgb(5 186 243);
    border-style: solid;
}

section {
    border-width:1;
    border-color: rgb(0,255,255);
    border-style: solid;
}

article {
    border-width:1;
    border-color: rgb(0,191,255);
    border-style: solid;
}

aside {
    border-width:1;
    border-color: rgb(0,0,255);
    border-style: solid;
}

blockquote {
    border-width:1;
    border-color: rgb(240,128,128);
    border-style: solid;
}

footer {
    border-width:1;
    border-color: rgb(250,128,114);
    border-style: solid;
}

